body {
  font-family: sans-serif;
  background-color: #dfd8ce;
  color: #3f3250;
  cursor: default;
 }

::-webkit-scrollbar { 
    display: none; 
}


.heading {
  grid-area: heading;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
 }

 .job-title {
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
 }

 .job-title h1 {
  margin: 16px 0 0 0;
 }

 .job-description-location {
    display: flex;
    align-items: center;
    justify-content: flex-start;
 }

 .job-description-location p {
    margin-left: 5px;
 }

.trip-preview {
    color: #e14658;
 }
 .trip-preview:hover {
    color: #ec8893;
    cursor: pointer;
 }
 
 .job-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid lightgray;
  margin: 0 10px 0 0;
}

.trip-status {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid lightgray;
  padding: 10px;
  margin: 15px;
}

.trip-status:hover {
  background-color: #dfdce3;
  cursor: pointer;
}

.action-icon {
  margin: 15px;
  border-radius: 50%;
  border: 2px solid lightgray;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-icon:hover {
  background-color: #dfdce3;
  cursor: pointer;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 75px 150px 75px 500px 75px 3fr;
  grid-template-areas: 
    'sideNavigation topNavigation '
    'sideNavigation heading'
    'sideNavigation jobMenu'
    'sideNavigation graphs'
    'sideNavigation lines'
    'sideNavigation description'
}

.lines {
  grid-area: lines;
  border-bottom: 5px solid #3f3250;
  height: 30px;
  text-align: center;
  width: 98%;
  margin: auto;
}

.page-line {
  background-color: #dfd8ce;
  color: #3f3250;
  font-size: 30px;
  padding: 18px 20px 0 20px;
}

.job-menu {
  grid-area: jobMenu;
  display: flex;
  align-items: flex-end;
  background-color: white;
}

.job-menu ul {
  max-height: 30px;
  margin: 8px;
}

.job-menu li {
  display: inline;
  margin: 0 20px;
  padding-bottom: 5px;
  font-size: 18px;
}

.job-menu li:hover {
  border-bottom: 5px solid #3f3250;
  cursor: pointer;
}

.top-navigation {
  padding: 0;
  background-color: #c0b3a0;
  grid-area: topNavigation;
  display: grid;
  grid-template-columns: 75px 75px 9fr 300px;
  color: #3f3250;
}

.top-navigation button {
  background-color: #c0b3a0;
  outline: none;
  border: none;
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.fa-angle-left {
  font-size: 18px;
  color: #e14658;
  margin-right: 5px;
}

.hamburger:hover {
  border-bottom: 5px solid #e14658;
  color: #e14658;
  cursor: pointer;
}

.search-button-container {
  display: flex;
  justify-content: flex-end;
}

.search-button {
  color: #3f3250;
  display: block;
  width: 100%;
  background-color: #c0b3a0;
  border: none;
  padding: 0;
  font-size: 22px;
}

.search-button:hover {
  border-bottom: 5px solid #e14658;
  color: #e14658;
  cursor: pointer;
}

.search-bar-container {
  display: flex;
  margin: 3px;
}

.search-bar {
  padding: 10px;
  margin: 5px 0;
  display: block;
  width: 100%;
  border: 1px solid rgba(24.7, 19.6, 31.4, 0.8);
  box-shadow: 0 0 2px #3f3250;
  background-color: #c0b3a0;
  font-size: 28px;
  border-radius: 5px;
}

.search-bar::placeholder {
  color: rgb(24.7, 19.6, 31.4, 0.35);
}

.search-bar:focus {
  box-shadow: 0 0 2px #e14658;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(225, 70, 88, 0.75);
}

.search-bar:focus::-webkit-input-placeholder {
  color: transparent;
}
.search-bar:focus::-moz-placeholder {
  color: transparent;
}

.top-links-container {
  display: flex;
  justify-content: space-between;
}

.top-links {
  font-size: 30px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-links:hover {
  border-bottom: 5px solid #e14658;
  color: #e14658;
  cursor: pointer;
}

.graph-container {
  grid-area: graphs;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 1fr;
  padding: 4px;
}

.circle-graph-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.circle-graphs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.graphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  margin: 0 20px;
}

.graphs p {
  margin: 0;
}

.circle-graph1 {
  border-top: 10px solid #93c178;
  border-left: 10px solid #dfdce3;
  border-bottom: 10px solid #dfdce3; 
  border-right: 10px solid #93c178;
}

.circle-graph3 {
  border-top: 10px solid #465c8b;
  border-left: 10px solid #dfdce3;
  border-bottom: 10px solid #465c8b; 
  border-right: 10px solid #465c8b;
}

.circle-graph2 {
  border-top: 10px solid #f7ef6a;
  border-left: 10px solid #dfdce3;
  border-bottom: 10px solid #dfdce3; 
  border-right: 10px solid #dfdce3;

}

.totals-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.totals {
  border-radius: 40px;
  background-color: white;
  padding: 0 20px;
}

.bar-graphs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-graph-img {
  height: 90%;
}


/*Trip Description*/
.trip-area {
  grid-area: description;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 4px;
  font-size: 20px
}

.trip-description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #3f3250;
}

.trip-table {
  padding: 10px;
}

.trip-table td {
  border-bottom: 1px solid black;
  padding: 10px;
  vertical-align: top;
} 

.trip-table-container {
  width: 50%;
  background-color: white;
  border-radius: 2px;
  margin: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table-heading {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #3f3250;
  color: #ffffff;
  border-radius: 2px;
}

.table-heading h3 {
  margin: 0 0 0 10px;
}

.description-sidebar {
  padding: 25px;
}

.search-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
  padding: 25px;
  color: white;
}

.socialmedia i {
  font-size: 40px;
}

.facebook {
  background-color: #3b5998;
}

.twitter {
  background-color: #1da1f2;;
}

.linkedin {
  background-color: #0077b5;
}

.copy-button {
  height: 60px;
  border-radius: 5px;
}

/*Side Bar Styles*/

.side-navigation {
  background-color: #3f3250;
  color: white;
  display: grid;
  grid-template-rows: 250px 380px 380px 1fr;
  grid-area: sideNavigation;
}

.side-navigation-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-subheading {
  margin: 5px 0 0 5px;
}

.headshot {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.side-nav-img {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-nav-name {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  margin-left: 25px;
}

.side-icon {
  margin: 8px 10px ;
  width: 25px;
}

.side-nav-menu-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 16px 0;
}

.side-nav-menu-item:hover {
  background-color: #261e31;
  cursor: pointer;
}
